.logo-holder {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li{
  border: 1px solid green;
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 10px;
  list-style-type: none;
  h6{
    margin-top: 0;
  }
}
  .search-holder{
    margin-top: 1rem;
    border-radius: 1rem;
    border: 5px solid lightgreen;
  }
  .search-holder input {
    margin-left: 10px;
  }
  input{
    width: 70%;
    text-align: center;
    min-height: 2rem;
    border: none;
  }
  button{
    width: 25%;
    margin-left: auto;
    background: green;
    color: white;
    min-height: 2rem;
    border: none;
  }

  .movieName{
    font-size: 30px;
    font-style: oblique;
    color: green;
}
  .movieDesc {
    font-size: 20px;
    color: forestgreen;
    margin-top: -50px;
  }
  .ul-style {
    list-style: none;
  }

  .select-css {
    border:none;
    width: 72%;
  }
